.navbar {
    background: #000000;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar li {
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
}
